<!DOCTYPE html>
<html lang="en">
<head>
    <title>Signup</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/styles.css' %}">
</head>
<body>

    <form method="post">
        {% csrf_token %}

        <h2>Create Account</h2>

        {% if messages %}
            {% for message in messages %}
                <p style="color:red; text-align:center;">{{ message }}</p>
            {% endfor %}
        {% endif %}

        <input type="text" name="username" placeholder="Username" required>

        <input type="password" name="password" placeholder="Password" required>

        <input type="password" name="confirm_password" placeholder="Confirm Password" required>

        <button type="submit">Signup</button>

        <p style="text-align:center; margin-top:10px;">
            Already have an account?
            <a href="{% url 'accounts:login' %}">Login</a>
        </p>
    </form>

</body>
</html>
